.container {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-around;
    padding: 4rem 5rem;
}

@media only screen and (max-width: 1400px) {
    .container {
        width: 100%;
    }
    .gif-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .gif-container img {
        width: 100% !important;
    }
}

@media only screen and (max-width: 1100px) {
    .container {
        flex-wrap: wrap;
    }
    .container .text-container h1 {
        text-align: center;
    }
    .container .text-container article p {
        width: 100%;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 900px) {
    .text-container h1 {
        font-size: 3.5rem !important;
    }
}

@media only screen and (max-width: 480px) {
    .text-container h1 {
        font-size: 3rem !important;
    }
}
.text-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-container h1 {
    background: linear-gradient(to bottom, var(--sage), var(--beige) 90%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    font-size: 4rem;
    text-align: center;
}

.text-container h1 a {
    text-decoration: none;
    border-bottom: 3px solid var(--sage);
    transition: padding-bottom 60ms linear;
}

.text-container h1 a:hover {
    padding-bottom: 3px;
}

.text-container h1 a:active {
    padding: 0;
}

.text-container article {
    margin-top: 1rem;
    color: var(--beige);
}

.text-container article p {
    width: 70%;
    line-height: 1.5;
    font-size: 1.1rem;
    letter-spacing: .2px;
    padding-left: .8rem;
}

.text-container article b, span {
    font-size: 1.4rem;
    padding: 0;
}

.text-container article span {
    background: linear-gradient(to bottom, var(--sage), var(--beige) 90%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.gif-container {
    margin-top: 1rem;
}

.gif-container img {
    width: 25rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: transform 80ms ease-in-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.gif-container img:hover {
    transform: scale(102%);
}

.gif-container img:active {
    transform: scale(100%);
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 10px 24px 0 rgba(0, 0, 0, 0.19);
}